
/MAT345/easy_ham
/MAT345/hard_ham
/MAT345/spam
/CS251/CS251-framework/Release
/CS251/CS251-framework/Debug
/CS251/CS251-framework/libs
/CS251/CS251-framework/textures
/CS251/CS251-framework/skys
/CS232/athlete_events.csv
*.vs
